@font-face {
    font-family: "Pixeled";
  	src: url(../fonts/Pixeled.ttf) format("truetype");
}

#text-content {
	
}

#text-content h1 {
	font-family: "Pixeled", sans-serif;
	color: white;
	font-size: 2.5em;
}