#text-content .games-container {
	background-color: black;
	opacity: 0.9;
	width: 80%;
	margin: 25px auto;
	padding: 50px 0;
}

#text-content .game-title {
	text-align: center;
	margin-bottom: 25px;
}

#text-content .games-container .video {
	position: relative; 
	width: 60%; 
	min-width: 30em;
	height: 25em; 
	left: 20%;
}

@media (max-width: 50em) {
	#text-content .games-container .video  {
		width: 100%;
	}
}