#text-content .games-container {
	background-color: black;
	opacity: 0.8;
	width: 80%;
	margin: 25px auto;
	padding-bottom: 25px;
	min-width: 500px;
}

#text-content .game-title {
	padding: 25px 0;
	text-align: center;
}

#text-content .games-container .video {
	position: relative; 
	width: 60%; 
	min-width: 30em;
	height: 25em; 
	left: 20%;
}

@media (max-width: 50em) {
	#text-content .games-container .video  {
		display: none;
	}
}